[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"

[dev-packages]
ipython = "*"
ptpython = "*"
autopep8 = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.9"
